@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #15202b;
    color: #E7E9EA;
    font-family: 'Roboto';
    margin: 0;
}

p {
    padding: 0;
    margin: 4px;
}

.tweet {
    display: flex;
    border-bottom: 1px solid #717678;
    padding: 12px;
}

.tweet_img {
    margin-right: 8px;
    border-radius: 50%;
}